@tailwind base;
@tailwind components;
@tailwind utilities;

dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}

/* Fixed layout shift when open dialog */
@layer base {
  :root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
    scrollbar-gutter: revert !important;
  }
}